<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>addPerson</title>
    <script src="/script.js" async></script>
</head>
<body>
<span class="header">Add new Person</span>
<div>
    <p class="important-note">All spaces from the beginning and end of each input will be removed!</p>
</div>
<form action="#" th:object="${person}" th:action="@{/addPerson}" method="post">
    <div>
        <label>Name</label>
        <label>
            <input id="name" th:field="*{name}" type="text" name="name" required>
        </label>
    </div>
    <div>
        <label>Login</label>
        <label>
            <input id="login" th:field="*{login}" type="text" name="login" required>
        </label>
    </div>
    <div>
        <label>Email</label>
        <label>
            <input id="email" th:field="*{email}" type="email" name="email" required>
        </label>
    </div>
    <div>
    <label>Password</label>
        <label>
            <input id="password" th:field="*{password}" type="password" name="password" required>
        </label>
    </div>
    <div>
    <label>Age</label>
        <label>
            <input id="age" th:field="*{age}" type="number" name="age" min="0" required>
        </label>
    </div>
    <button id="submit-button" type="submit" class="my-button button-disabled">Save</button>
</form>
<a id="return-link" class="my-link" th:href="@{/showAll}">Return to the main page</a>
</body>
</html>